# Pandas:

In [1]:
import numpy as np
import pandas as pd

In [3]:
dict = {
    "name":['aa','bb','cc','dd'],
    "marks":[5,66,52,67],
    'addrs':['doon','uk','up','mp']
}

In [4]:
df = pd.DataFrame(dict) # Converting dict into Pandas DataFrame. which is data structure of pandas.

In [5]:
df

  name  marks addrs
0   aa      5  doon
1   bb     66    uk
2   cc     52    up
3   dd     67    mp

In [6]:
df.to_csv('new.csv') # making CSV file using DataFrame Object.

In [7]:
df.to_csv('new1.csv',index=False)  # if we don't need any index in our CSV file then just use index=False

In [8]:
df.head()  # head fun display the upper some row form DataFrame.

  name  marks addrs
0   aa      5  doon
1   bb     66    uk
2   cc     52    up
3   dd     67    mp

In [9]:
df.tail()   # Tail fun display the data from ends of the DataFrame.

  name  marks addrs
0   aa      5  doon
1   bb     66    uk
2   cc     52    up
3   dd     67    mp

In [10]:
df.head(2)   #Display first two rows.

  name  marks addrs
0   aa      5  doon
1   bb     66    uk

In [11]:
df.tail(3)   #Display last three rows.

  name  marks addrs
1   bb     66    uk
2   cc     52    up
3   dd     67    mp

In [12]:
df.count()  # Display the no. of total record form each column.

name     4
marks    4
addrs    4
dtype: int64

In [15]:
df.describe()  #display the all about that DataFrame.

           marks
count   4.000000
mean   47.500000
std    29.149042
min     5.000000
25%    40.250000
50%    59.000000
75%    66.250000
max    67.000000

In [17]:
neww = pd.read_csv('data.csv')  #Read data from CSV file.

In [18]:
neww

     Duration  Pulse  Maxpulse  Calories
0          60    110       130     409.1
1          60    117       145     479.0
2          60    103       135     340.0
3          45    109       175     282.4
4          45    117       148     406.0
5          60    102       127     300.0
6          60    110       136     374.0
7          45    104       134     253.3
8          30    109       133     195.1
9          60     98       124     269.0
10         60    103       147     329.3
11         60    100       120     250.7
12         60    106       128     345.3
13         60    104       132     379.3
14         60     98       123     275.0
15         60     98       120     215.2
16         60    100       120     300.0
17         45     90       112       NaN
18         60    103       123     323.0
19         45     97       125     243.0
20         60    108       131     364.2
21         45    100       119     282.0
22         60    130       101     300.0
23         45    105       132     246.0
24         60    102       126     334.5
25         60    100       120     250.0
26         60     92       118     241.0
27         60    103       132       NaN
28         60    100       132     280.0
29         60    102       129     380.3
..        ...    ...       ...       ...
139        20    141       162     222.4
140        60    108       135     390.0
141        60     97       127       NaN
142        45    100       120     250.4
143        45    122       149     335.4
144        60    136       170     470.2
145        45    106       126     270.8
146        60    107       136     400.0
147        60    112       146     361.9
148        30    103       127     185.0
149        60    110       150     409.4
150        60    106       134     343.0
151        60    109       129     353.2
152        60    109       138     374.0
153        30    150       167     275.8
154        60    105       128     328.0
155        60    111       151     368.5
156        60     97       131     270.4
157        60    100       120     270.4
158        60    114       150     382.8
159        30     80       120     240.9
160        30     85       120     250.4
161        45     90       130     260.4
162        45     95       130     270.0
163        45    100       140     280.9
164        60    105       140     290.8
165        60    110       145     300.0
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

[169 rows x 4 columns]

In [20]:
ss = pd.Series(np.random.rand(34))   # Creating Random Series, Series also is a data structure of Pandas.

In [22]:
type(ss)

pandas.core.series.Series

In [23]:
newdf = pd.DataFrame(np.random.rand(222,6), index=np.arange(222))   # Creating Random DataFrame.

In [28]:
newdf.head(10)

          0         1         2         3         4         5
0  0.455474  0.744156  0.725957  0.869315  0.869357  0.473932
1  0.245834  0.762742  0.765774  0.659355  0.082827  0.050008
2  0.221433  0.910542  0.352414  0.500757  0.870933  0.950733
3  0.209232  0.427051  0.405990  0.351456  0.477054  0.492846
4  0.753242  0.171108  0.077536  0.253527  0.303219  0.624616
5  0.995740  0.159312  0.177995  0.073004  0.786685  0.818128
6  0.917388  0.083266  0.499860  0.264689  0.928046  0.841430
7  0.234545  0.386173  0.530807  0.289047  0.414188  0.456882
8  0.136845  0.368377  0.184425  0.794323  0.648912  0.387328
9  0.718394  0.580162  0.471552  0.219246  0.054053  0.823766

In [29]:
type(newdf)

pandas.core.frame.DataFrame

In [30]:
newdf[0][0]='dev'  # Change the value of index[0,0].

In [32]:
newdf.head()

          0         1         2         3         4         5
0       dev  0.744156  0.725957  0.869315  0.869357  0.473932
1  0.245834  0.762742  0.765774  0.659355  0.082827  0.050008
2  0.221433  0.910542  0.352414  0.500757  0.870933  0.950733
3  0.209232  0.427051  0.405990  0.351456  0.477054  0.492846
4  0.753242  0.171108  0.077536  0.253527  0.303219  0.624616

In [33]:
newdf.index          # USing this we display the index of our DataFrame.

Int64Index([  0,   1,   2,   3,   4,   5,   6,   7,   8,   9,
            ...
            212, 213, 214, 215, 216, 217, 218, 219, 220, 221],
           dtype='int64', length=222)

In [35]:
newdf.columns           # USing this we display the column of our DataFrame.

RangeIndex(start=0, stop=6, step=1)

In [36]:
newdf.to_numpy()   # Converting DataFrame into Numpy Array.

array([['dev', 0.7441562789389894, 0.7259568299324176,
        0.8693147851173629, 0.8693574499738194, 0.4739317345979235],
       [0.24583352521633295, 0.7627415119408152, 0.7657744741108583,
        0.6593553194117904, 0.08282689871782245, 0.05000803488862271],
       [0.22143289112855347, 0.9105419610140034, 0.35241387798955415,
        0.5007568572623557, 0.8709325688866304, 0.9507332226460953],
       ...,
       [0.8610417560714375, 0.721238173154914, 0.8802986036069085,
        0.4574034883157053, 0.8072276801150384, 0.6666375031711747],
       [0.8951241210181881, 0.18254967034628977, 0.5042294100509631,
        0.15255528933978257, 0.14922528575772376, 0.10759848541713413],
       [0.9964641389389002, 0.985363792045894, 0.5290297088305046,
        0.5398676298086421, 0.8831505775214267, 0.6737559716587417]],
      dtype=object)

In [37]:
newdf.head()

          0         1         2         3         4         5
0       dev  0.744156  0.725957  0.869315  0.869357  0.473932
1  0.245834  0.762742  0.765774  0.659355  0.082827  0.050008
2  0.221433  0.910542  0.352414  0.500757  0.870933  0.950733
3  0.209232  0.427051  0.405990  0.351456  0.477054  0.492846
4  0.753242  0.171108  0.077536  0.253527  0.303219  0.624616

In [38]:
newdf.T   # By using the 'T' we transform the Column into Row and Row into Columns.

,0,1,2,3,4,5,6,7,8,9,...,212,213,214,215,216,217,218,219,220,221
0,dev,0.245834,0.221433,0.209232,0.753242,0.99574,0.917388,0.234545,0.136845,0.718394,...,0.663871,0.0415734,0.578793,0.428177,0.476026,0.996557,0.138696,0.861042,0.895124,0.996464
1,0.744156,0.762742,0.910542,0.427051,0.171108,0.159312,0.0832663,0.386173,0.368377,0.580162,...,0.841272,0.972606,0.292349,0.0772309,0.206972,0.935101,0.902286,0.721238,0.18255,0.985364
2,0.725957,0.765774,0.352414,0.40599,0.0775358,0.177995,0.49986,0.530807,0.184425,0.471552,...,0.0460569,0.306537,0.713521,0.261769,0.0799581,0.150952,0.355873,0.880299,0.504229,0.52903
3,0.869315,0.659355,0.500757,0.351456,0.253527,0.0730036,0.264689,0.289047,0.794323,0.219246,...,0.307549,0.783651,0.723302,0.580886,0.0194682,0.237099,0.623194,0.457403,0.152555,0.539868
4,0.869357,0.0828269,0.870933,0.477054,0.303219,0.786685,0.928046,0.414188,0.648912,0.0540531,...,0.882671,0.262689,0.0350972,0.831972,0.0619892,0.42394,0.96369,0.807228,0.149225,0.883151
5,0.473932,0.050008,0.950733,0.492846,0.624616,0.818128,0.84143,0.456882,0.387328,0.823766,...,0.94927,0.760547,0.827435,0.649977,0.18059,0.893661,0.661935,0.666638,0.107598,0.673756

In [42]:
newdf.sort_index(axis=0, ascending=False)  # Display the Data into Decending order.

             0         1         2         3         4         5
221   0.996464  0.985364  0.529030  0.539868  0.883151  0.673756
220   0.895124  0.182550  0.504229  0.152555  0.149225  0.107598
219   0.861042  0.721238  0.880299  0.457403  0.807228  0.666638
218   0.138696  0.902286  0.355873  0.623194  0.963690  0.661935
217   0.996557  0.935101  0.150952  0.237099  0.423940  0.893661
216   0.476026  0.206972  0.079958  0.019468  0.061989  0.180590
215   0.428177  0.077231  0.261769  0.580886  0.831972  0.649977
214   0.578793  0.292349  0.713521  0.723302  0.035097  0.827435
213  0.0415734  0.972606  0.306537  0.783651  0.262689  0.760547
212   0.663871  0.841272  0.046057  0.307549  0.882671  0.949270
211   0.791112  0.878438  0.961791  0.222814  0.013331  0.057078
210   0.215054  0.901850  0.322844  0.209000  0.848815  0.604170
209  0.0172042  0.798284  0.304881  0.278114  0.127022  0.952357
208   0.155935  0.459579  0.363297  0.847984  0.774478  0.472219
207   0.662745  0.851365  0.624080  0.236233  0.081800  0.045420
206   0.957259  0.530137  0.872651  0.092017  0.797802  0.674235
205  0.0699955  0.459163  0.581047  0.433666  0.735047  0.319586
204   0.970001  0.632168  0.664808  0.322183  0.985568  0.912166
203   0.355315  0.326796  0.266431  0.075464  0.914935  0.218599
202   0.424576  0.081506  0.836545  0.761329  0.967614  0.828979
201  0.0494766  0.221979  0.548702  0.085438  0.238217  0.004080
200   0.348149  0.468221  0.402248  0.359100  0.025932  0.165349
199   0.202524  0.447254  0.145921  0.705936  0.647341  0.443536
198   0.225983  0.345468  0.986930  0.553733  0.465132  0.690124
197   0.851653  0.180472  0.909408  0.414912  0.615286  0.925399
196   0.488766  0.753970  0.138079  0.824281  0.487217  0.025882
195   0.893305  0.192548  0.656319  0.040229  0.384073  0.351769
194   0.561212  0.990785  0.315108  0.225597  0.511821  0.832041
193  0.0103063  0.460998  0.752222  0.883041  0.236830  0.544085
192   0.269729  0.097524  0.849701  0.093954  0.108748  0.388721
..         ...       ...       ...       ...       ...       ...
29    0.291737  0.592414  0.748087  0.894009  0.475341  0.916014
28    0.834544  0.892120  0.573481  0.915289  0.075921  0.401467
27     0.23026  0.971484  0.199079  0.427573  0.647042  0.580389
26     0.61636  0.034714  0.558627  0.814619  0.326846  0.099304
25    0.594747  0.732598  0.379884  0.487028  0.655500  0.789776
24    0.217644  0.798719  0.818159  0.477221  0.820083  0.060843
23    0.520692  0.631813  0.385356  0.025007  0.166280  0.765700
22     0.79212  0.463286  0.276364  0.448036  0.437770  0.487796
21    0.572946  0.232595  0.649937  0.284730  0.278244  0.676193
20    0.476424  0.860018  0.738115  0.954549  0.454507  0.222826
19    0.843584  0.418808  0.053759  0.758780  0.638996  0.643311
18    0.423665  0.824167  0.369041  0.765569  0.395730  0.531700
17    0.302377  0.874315  0.896971  0.481117  0.410839  0.081561
16    0.495239  0.028052  0.908814  0.765417  0.208533  0.313059
15    0.146857  0.877564  0.438260  0.938102  0.530307  0.881634
14    0.570401  0.693241  0.833804  0.516565  0.708934  0.281456
13    0.798547  0.192258  0.307376  0.557435  0.379767  0.489886
12    0.727081  0.957070  0.411771  0.909885  0.747819  0.838637
11    0.306651  0.738876  0.379969  0.388538  0.466461  0.914185
10     0.18984  0.607642  0.381785  0.395523  0.449619  0.007445
9     0.718394  0.580162  0.471552  0.219246  0.054053  0.823766
8     0.136845  0.368377  0.184425  0.794323  0.648912  0.387328
7     0.234545  0.386173  0.530807  0.289047  0.414188  0.456882
6     0.917388  0.083266  0.499860  0.264689  0.928046  0.841430
5      0.99574  0.159312  0.177995  0.073004  0.786685  0.818128
4     0.753242  0.171108  0.077536  0.253527  0.303219  0.624616
3     0.209232  0.427051  0.405990  0.351456  0.477054  0.492846
2     0.221433  0.910542  0.352414  0.500757  0.870933  0.950733
1     0.245834  0.762742  0.765774  0.659355  0.082827  0.050008
0          dev  0.744156  0.725957  0.869315  0.869357  0.473932

[222 rows x 6 columns]

In [43]:
newdf.sort_index(axis=1, ascending=False)      # Display the column Data into Decending order.

            5         4         3         2         1          0
0    0.473932  0.869357  0.869315  0.725957  0.744156        dev
1    0.050008  0.082827  0.659355  0.765774  0.762742   0.245834
2    0.950733  0.870933  0.500757  0.352414  0.910542   0.221433
3    0.492846  0.477054  0.351456  0.405990  0.427051   0.209232
4    0.624616  0.303219  0.253527  0.077536  0.171108   0.753242
5    0.818128  0.786685  0.073004  0.177995  0.159312    0.99574
6    0.841430  0.928046  0.264689  0.499860  0.083266   0.917388
7    0.456882  0.414188  0.289047  0.530807  0.386173   0.234545
8    0.387328  0.648912  0.794323  0.184425  0.368377   0.136845
9    0.823766  0.054053  0.219246  0.471552  0.580162   0.718394
10   0.007445  0.449619  0.395523  0.381785  0.607642    0.18984
11   0.914185  0.466461  0.388538  0.379969  0.738876   0.306651
12   0.838637  0.747819  0.909885  0.411771  0.957070   0.727081
13   0.489886  0.379767  0.557435  0.307376  0.192258   0.798547
14   0.281456  0.708934  0.516565  0.833804  0.693241   0.570401
15   0.881634  0.530307  0.938102  0.438260  0.877564   0.146857
16   0.313059  0.208533  0.765417  0.908814  0.028052   0.495239
17   0.081561  0.410839  0.481117  0.896971  0.874315   0.302377
18   0.531700  0.395730  0.765569  0.369041  0.824167   0.423665
19   0.643311  0.638996  0.758780  0.053759  0.418808   0.843584
20   0.222826  0.454507  0.954549  0.738115  0.860018   0.476424
21   0.676193  0.278244  0.284730  0.649937  0.232595   0.572946
22   0.487796  0.437770  0.448036  0.276364  0.463286    0.79212
23   0.765700  0.166280  0.025007  0.385356  0.631813   0.520692
24   0.060843  0.820083  0.477221  0.818159  0.798719   0.217644
25   0.789776  0.655500  0.487028  0.379884  0.732598   0.594747
26   0.099304  0.326846  0.814619  0.558627  0.034714    0.61636
27   0.580389  0.647042  0.427573  0.199079  0.971484    0.23026
28   0.401467  0.075921  0.915289  0.573481  0.892120   0.834544
29   0.916014  0.475341  0.894009  0.748087  0.592414   0.291737
..        ...       ...       ...       ...       ...        ...
192  0.388721  0.108748  0.093954  0.849701  0.097524   0.269729
193  0.544085  0.236830  0.883041  0.752222  0.460998  0.0103063
194  0.832041  0.511821  0.225597  0.315108  0.990785   0.561212
195  0.351769  0.384073  0.040229  0.656319  0.192548   0.893305
196  0.025882  0.487217  0.824281  0.138079  0.753970   0.488766
197  0.925399  0.615286  0.414912  0.909408  0.180472   0.851653
198  0.690124  0.465132  0.553733  0.986930  0.345468   0.225983
199  0.443536  0.647341  0.705936  0.145921  0.447254   0.202524
200  0.165349  0.025932  0.359100  0.402248  0.468221   0.348149
201  0.004080  0.238217  0.085438  0.548702  0.221979  0.0494766
202  0.828979  0.967614  0.761329  0.836545  0.081506   0.424576
203  0.218599  0.914935  0.075464  0.266431  0.326796   0.355315
204  0.912166  0.985568  0.322183  0.664808  0.632168   0.970001
205  0.319586  0.735047  0.433666  0.581047  0.459163  0.0699955
206  0.674235  0.797802  0.092017  0.872651  0.530137   0.957259
207  0.045420  0.081800  0.236233  0.624080  0.851365   0.662745
208  0.472219  0.774478  0.847984  0.363297  0.459579   0.155935
209  0.952357  0.127022  0.278114  0.304881  0.798284  0.0172042
210  0.604170  0.848815  0.209000  0.322844  0.901850   0.215054
211  0.057078  0.013331  0.222814  0.961791  0.878438   0.791112
212  0.949270  0.882671  0.307549  0.046057  0.841272   0.663871
213  0.760547  0.262689  0.783651  0.306537  0.972606  0.0415734
214  0.827435  0.035097  0.723302  0.713521  0.292349   0.578793
215  0.649977  0.831972  0.580886  0.261769  0.077231   0.428177
216  0.180590  0.061989  0.019468  0.079958  0.206972   0.476026
217  0.893661  0.423940  0.237099  0.150952  0.935101   0.996557
218  0.661935  0.963690  0.623194  0.355873  0.902286   0.138696
219  0.666638  0.807228  0.457403  0.880299  0.721238   0.861042
220  0.107598  0.149225  0.152555  0.504229  0.182550   0.895124
221  0.673756  0.883151  0.539868  0.529030  0.985364   0.996464

[222 rows x 6 columns]

In [44]:
type(newdf[0])

pandas.core.series.Series

In [46]:
newdf[0][1]          # accessing the specific data from the record.

0.24583352521633295

In [47]:
newdf[0][2]=33333333

D:\Users\Devesh Maithani\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [48]:
newdf.head()

          0         1         2         3         4         5
0       dev  0.744156  0.725957  0.869315  0.869357  0.473932
1  0.245834  0.762742  0.765774  0.659355  0.082827  0.050008
2  33333333  0.910542  0.352414  0.500757  0.870933  0.950733
3  0.209232  0.427051  0.405990  0.351456  0.477054  0.492846
4  0.753242  0.171108  0.077536  0.253527  0.303219  0.624616

In [49]:
newdf_Copy = newdf.copy()  # Copy() is used to make another copy od that dataFrame.

In [50]:
newdf_Copy.head()

          0         1         2         3         4         5
0       dev  0.744156  0.725957  0.869315  0.869357  0.473932
1  0.245834  0.762742  0.765774  0.659355  0.082827  0.050008
2  33333333  0.910542  0.352414  0.500757  0.870933  0.950733
3  0.209232  0.427051  0.405990  0.351456  0.477054  0.492846
4  0.753242  0.171108  0.077536  0.253527  0.303219  0.624616

In [52]:
newdf_Copy[0][2]=4444444

D:\Users\Devesh Maithani\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [54]:
newdf_Copy.head(4)

          0         1         2         3         4         5
0       dev  0.744156  0.725957  0.869315  0.869357  0.473932
1  0.245834  0.762742  0.765774  0.659355  0.082827  0.050008
2   4444444  0.910542  0.352414  0.500757  0.870933  0.950733
3  0.209232  0.427051  0.405990  0.351456  0.477054  0.492846

In [55]:
newdf.head(4)

          0         1         2         3         4         5
0       dev  0.744156  0.725957  0.869315  0.869357  0.473932
1  0.245834  0.762742  0.765774  0.659355  0.082827  0.050008
2  33333333  0.910542  0.352414  0.500757  0.870933  0.950733
3  0.209232  0.427051  0.405990  0.351456  0.477054  0.492846

In [56]:
newdf.loc[0,0] = 1.1111

In [57]:
newdf.head(2)

          0         1         2         3         4         5
0    1.1111  0.744156  0.725957  0.869315  0.869357  0.473932
1  0.245834  0.762742  0.765774  0.659355  0.082827  0.050008

In [74]:
newdf.columns = list('ABCDEF')

###  .loc : Access a group of rows and columns by label(s) or a boolean array.

In [89]:
newdf.loc[0]

A      1.1111
B    0.744156
C    0.725957
D    0.869315
E    0.869357
F    0.473932
Name: 0, dtype: object

In [77]:
newdf.loc[0,2]=3333

In [78]:
newdf.head(2)

          A         B         C         D         E         F       2
0    1.1111  0.744156  0.725957  0.869315  0.869357  0.473932  3333.0
1  0.245834  0.762742  0.765774  0.659355  0.082827  0.050008     NaN

In [79]:
newdf = newdf.drop(2, axis=1)  # Delete the particular Column for permanent

In [80]:
newdf.head(2)

          A         B         C         D         E         F
0    1.1111  0.744156  0.725957  0.869315  0.869357  0.473932
1  0.245834  0.762742  0.765774  0.659355  0.082827  0.050008

In [83]:
newdf.loc[[2,2],['B','C']]   # Display the specific record.

          B         C
2  0.910542  0.352414
2  0.910542  0.352414

In [84]:
newdf.head()

          A         B         C         D         E         F
0    1.1111  0.744156  0.725957  0.869315  0.869357  0.473932
1  0.245834  0.762742  0.765774  0.659355  0.082827  0.050008
2  33333333  0.910542  0.352414  0.500757  0.870933  0.950733
3  0.209232  0.427051  0.405990  0.351456  0.477054  0.492846
4  0.753242  0.171108  0.077536  0.253527  0.303219  0.624616

In [86]:
newdf.loc[[2,2],:]  # Display the data having 2 row.

          A         B         C         D         E         F
2  33333333  0.910542  0.352414  0.500757  0.870933  0.950733
2  33333333  0.910542  0.352414  0.500757  0.870933  0.950733

In [88]:
#newdf.loc[:,['B','C']]

In [92]:
newdf.loc[(newdf['B']>0.55)]  #Display the data by using some stements.

             A         B         C         D         E         F
0       1.1111  0.744156  0.725957  0.869315  0.869357  0.473932
1     0.245834  0.762742  0.765774  0.659355  0.082827  0.050008
2     33333333  0.910542  0.352414  0.500757  0.870933  0.950733
9     0.718394  0.580162  0.471552  0.219246  0.054053  0.823766
10     0.18984  0.607642  0.381785  0.395523  0.449619  0.007445
11    0.306651  0.738876  0.379969  0.388538  0.466461  0.914185
12    0.727081  0.957070  0.411771  0.909885  0.747819  0.838637
14    0.570401  0.693241  0.833804  0.516565  0.708934  0.281456
15    0.146857  0.877564  0.438260  0.938102  0.530307  0.881634
17    0.302377  0.874315  0.896971  0.481117  0.410839  0.081561
18    0.423665  0.824167  0.369041  0.765569  0.395730  0.531700
20    0.476424  0.860018  0.738115  0.954549  0.454507  0.222826
23    0.520692  0.631813  0.385356  0.025007  0.166280  0.765700
24    0.217644  0.798719  0.818159  0.477221  0.820083  0.060843
25    0.594747  0.732598  0.379884  0.487028  0.655500  0.789776
27     0.23026  0.971484  0.199079  0.427573  0.647042  0.580389
28    0.834544  0.892120  0.573481  0.915289  0.075921  0.401467
29    0.291737  0.592414  0.748087  0.894009  0.475341  0.916014
30    0.224183  0.729261  0.381079  0.359364  0.302526  0.927637
31    0.392125  0.947872  0.647105  0.532762  0.505917  0.916739
32    0.678807  0.626527  0.547089  0.846405  0.489969  0.740161
37    0.708361  0.860684  0.403499  0.514540  0.046596  0.582257
40    0.374576  0.843201  0.388304  0.870886  0.539658  0.298625
42    0.345067  0.922533  0.141480  0.803389  0.804261  0.093197
43   0.0449711  0.740589  0.555363  0.712546  0.670566  0.800776
45    0.238915  0.673257  0.008232  0.404184  0.676410  0.228732
47    0.473566  0.652908  0.315520  0.681091  0.932837  0.024661
48    0.837208  0.845188  0.027841  0.432959  0.693098  0.663667
50     0.57325  0.850741  0.922131  0.853512  0.186823  0.932471
52    0.539083  0.571839  0.354341  0.157742  0.259422  0.203691
..         ...       ...       ...       ...       ...       ...
164   0.892054  0.614584  0.961010  0.283521  0.858281  0.975599
165   0.805417  0.795154  0.462982  0.601995  0.486426  0.580934
166   0.210608  0.574583  0.732588  0.783128  0.842227  0.173404
168   0.170531  0.885687  0.708443  0.948970  0.368682  0.006800
171   0.532415  0.844516  0.646987  0.641091  0.964682  0.589702
172   0.588859  0.842708  0.102151  0.201898  0.473088  0.181171
173   0.772784  0.860293  0.869295  0.697125  0.434709  0.951686
174   0.702649  0.667876  0.308877  0.991552  0.697325  0.224418
175   0.391408  0.971067  0.745440  0.437341  0.579993  0.500835
176   0.401036  0.939000  0.230496  0.566273  0.643668  0.954867
177  0.0488064  0.762274  0.736181  0.951597  0.336310  0.636577
181   0.740172  0.633354  0.794150  0.600638  0.453954  0.783204
183   0.632554  0.954728  0.409334  0.222634  0.175883  0.490729
184   0.653309  0.682225  0.299471  0.618885  0.757968  0.605078
185   0.950166  0.681438  0.124079  0.191381  0.099541  0.437139
186   0.362403  0.583977  0.827431  0.436047  0.211109  0.820458
190   0.717754  0.675368  0.124921  0.361491  0.832934  0.654041
194   0.561212  0.990785  0.315108  0.225597  0.511821  0.832041
196   0.488766  0.753970  0.138079  0.824281  0.487217  0.025882
204   0.970001  0.632168  0.664808  0.322183  0.985568  0.912166
207   0.662745  0.851365  0.624080  0.236233  0.081800  0.045420
209  0.0172042  0.798284  0.304881  0.278114  0.127022  0.952357
210   0.215054  0.901850  0.322844  0.209000  0.848815  0.604170
211   0.791112  0.878438  0.961791  0.222814  0.013331  0.057078
212   0.663871  0.841272  0.046057  0.307549  0.882671  0.949270
213  0.0415734  0.972606  0.306537  0.783651  0.262689  0.760547
217   0.996557  0.935101  0.150952  0.237099  0.423940  0.893661
218   0.138696  0.902286  0.355873  0.623194  0.963690  0.661935
219   0.861042  0.721238  0.880299  0.457403  0.807228  0.666638
221   0.996464  0.985364  0.529030  0.539868  0.883151  0.673756

[104 rows x 6 columns]

In [94]:
newdf.loc[(newdf['B']>0.55) & (newdf['C']>1.1)]

Empty DataFrame
Columns: [A, B, C, D, E, F]
Index: []

In [95]:
newdf.head()

          A         B         C         D         E         F
0    1.1111  0.744156  0.725957  0.869315  0.869357  0.473932
1  0.245834  0.762742  0.765774  0.659355  0.082827  0.050008
2  33333333  0.910542  0.352414  0.500757  0.870933  0.950733
3  0.209232  0.427051  0.405990  0.351456  0.477054  0.492846
4  0.753242  0.171108  0.077536  0.253527  0.303219  0.624616

In [96]:
newdf.iloc[0,4]  # iloc is used to access the data by index value. we didn't need any name.

0.8693574499738194

In [98]:
newdf.iloc[[0,3],[2,3]]

          C         D
0  0.725957  0.869315
3  0.405990  0.351456

In [100]:
newdf.drop([0])     #deleting column for temporarily.

             A         B         C         D         E         F
1     0.245834  0.762742  0.765774  0.659355  0.082827  0.050008
2     33333333  0.910542  0.352414  0.500757  0.870933  0.950733
3     0.209232  0.427051  0.405990  0.351456  0.477054  0.492846
4     0.753242  0.171108  0.077536  0.253527  0.303219  0.624616
5      0.99574  0.159312  0.177995  0.073004  0.786685  0.818128
6     0.917388  0.083266  0.499860  0.264689  0.928046  0.841430
7     0.234545  0.386173  0.530807  0.289047  0.414188  0.456882
8     0.136845  0.368377  0.184425  0.794323  0.648912  0.387328
9     0.718394  0.580162  0.471552  0.219246  0.054053  0.823766
10     0.18984  0.607642  0.381785  0.395523  0.449619  0.007445
11    0.306651  0.738876  0.379969  0.388538  0.466461  0.914185
12    0.727081  0.957070  0.411771  0.909885  0.747819  0.838637
13    0.798547  0.192258  0.307376  0.557435  0.379767  0.489886
14    0.570401  0.693241  0.833804  0.516565  0.708934  0.281456
15    0.146857  0.877564  0.438260  0.938102  0.530307  0.881634
16    0.495239  0.028052  0.908814  0.765417  0.208533  0.313059
17    0.302377  0.874315  0.896971  0.481117  0.410839  0.081561
18    0.423665  0.824167  0.369041  0.765569  0.395730  0.531700
19    0.843584  0.418808  0.053759  0.758780  0.638996  0.643311
20    0.476424  0.860018  0.738115  0.954549  0.454507  0.222826
21    0.572946  0.232595  0.649937  0.284730  0.278244  0.676193
22     0.79212  0.463286  0.276364  0.448036  0.437770  0.487796
23    0.520692  0.631813  0.385356  0.025007  0.166280  0.765700
24    0.217644  0.798719  0.818159  0.477221  0.820083  0.060843
25    0.594747  0.732598  0.379884  0.487028  0.655500  0.789776
26     0.61636  0.034714  0.558627  0.814619  0.326846  0.099304
27     0.23026  0.971484  0.199079  0.427573  0.647042  0.580389
28    0.834544  0.892120  0.573481  0.915289  0.075921  0.401467
29    0.291737  0.592414  0.748087  0.894009  0.475341  0.916014
30    0.224183  0.729261  0.381079  0.359364  0.302526  0.927637
..         ...       ...       ...       ...       ...       ...
192   0.269729  0.097524  0.849701  0.093954  0.108748  0.388721
193  0.0103063  0.460998  0.752222  0.883041  0.236830  0.544085
194   0.561212  0.990785  0.315108  0.225597  0.511821  0.832041
195   0.893305  0.192548  0.656319  0.040229  0.384073  0.351769
196   0.488766  0.753970  0.138079  0.824281  0.487217  0.025882
197   0.851653  0.180472  0.909408  0.414912  0.615286  0.925399
198   0.225983  0.345468  0.986930  0.553733  0.465132  0.690124
199   0.202524  0.447254  0.145921  0.705936  0.647341  0.443536
200   0.348149  0.468221  0.402248  0.359100  0.025932  0.165349
201  0.0494766  0.221979  0.548702  0.085438  0.238217  0.004080
202   0.424576  0.081506  0.836545  0.761329  0.967614  0.828979
203   0.355315  0.326796  0.266431  0.075464  0.914935  0.218599
204   0.970001  0.632168  0.664808  0.322183  0.985568  0.912166
205  0.0699955  0.459163  0.581047  0.433666  0.735047  0.319586
206   0.957259  0.530137  0.872651  0.092017  0.797802  0.674235
207   0.662745  0.851365  0.624080  0.236233  0.081800  0.045420
208   0.155935  0.459579  0.363297  0.847984  0.774478  0.472219
209  0.0172042  0.798284  0.304881  0.278114  0.127022  0.952357
210   0.215054  0.901850  0.322844  0.209000  0.848815  0.604170
211   0.791112  0.878438  0.961791  0.222814  0.013331  0.057078
212   0.663871  0.841272  0.046057  0.307549  0.882671  0.949270
213  0.0415734  0.972606  0.306537  0.783651  0.262689  0.760547
214   0.578793  0.292349  0.713521  0.723302  0.035097  0.827435
215   0.428177  0.077231  0.261769  0.580886  0.831972  0.649977
216   0.476026  0.206972  0.079958  0.019468  0.061989  0.180590
217   0.996557  0.935101  0.150952  0.237099  0.423940  0.893661
218   0.138696  0.902286  0.355873  0.623194  0.963690  0.661935
219   0.861042  0.721238  0.880299  0.457403  0.807228  0.666638
220   0.895124  0.182550  0.504229  0.152555  0.149225  0.107598
221   0.996464  0.985364  0.529030  0.539868  0.883151  0.673756

[221 rows x 6 columns]

In [101]:
newdf.head(2)

          A         B         C         D         E         F
0    1.1111  0.744156  0.725957  0.869315  0.869357  0.473932
1  0.245834  0.762742  0.765774  0.659355  0.082827  0.050008

In [102]:
newdf= newdf.drop([0])

In [103]:
newdf.head(2)

          A         B         C         D         E         F
1  0.245834  0.762742  0.765774  0.659355  0.082827  0.050008
2  33333333  0.910542  0.352414  0.500757  0.870933  0.950733

In [114]:
newdff = pd.DataFrame(np.random.rand(22,6), index=np.arange(22))           # Creating new DataFrame.

In [115]:
newdff.head()

          0         1         2         3         4         5
0  0.672862  0.189261  0.839692  0.540568  0.803610  0.006873
1  0.027773  0.491453  0.498712  0.929028  0.915656  0.944183
2  0.506949  0.078296  0.057759  0.215327  0.366344  0.148058
3  0.485670  0.219897  0.355962  0.829986  0.210201  0.831425
4  0.443833  0.234162  0.326533  0.513190  0.488114  0.984724

In [116]:
newdff.columns = list('ABCDEF')  # Change the column name.

In [117]:
newdff.head()

          A         B         C         D         E         F
0  0.672862  0.189261  0.839692  0.540568  0.803610  0.006873
1  0.027773  0.491453  0.498712  0.929028  0.915656  0.944183
2  0.506949  0.078296  0.057759  0.215327  0.366344  0.148058
3  0.485670  0.219897  0.355962  0.829986  0.210201  0.831425
4  0.443833  0.234162  0.326533  0.513190  0.488114  0.984724

In [118]:
newdff.drop(['F'],axis=1)        #Deleting the column.

           A         B         C         D         E
0   0.672862  0.189261  0.839692  0.540568  0.803610
1   0.027773  0.491453  0.498712  0.929028  0.915656
2   0.506949  0.078296  0.057759  0.215327  0.366344
3   0.485670  0.219897  0.355962  0.829986  0.210201
4   0.443833  0.234162  0.326533  0.513190  0.488114
5   0.112171  0.117110  0.800012  0.582800  0.949572
6   0.634240  0.545498  0.235610  0.981676  0.232499
7   0.230085  0.634387  0.813733  0.651947  0.518854
8   0.784381  0.711477  0.247991  0.658652  0.949668
9   0.981183  0.472648  0.935757  0.558986  0.292702
10  0.353074  0.199893  0.187418  0.139332  0.976269
11  0.163926  0.296400  0.339017  0.078525  0.445303
12  0.218207  0.099738  0.183574  0.777587  0.980067
13  0.056113  0.496568  0.037264  0.137552  0.389306
14  0.152034  0.092175  0.938286  0.454821  0.771816
15  0.092391  0.453857  0.516889  0.124156  0.939947
16  0.754206  0.528346  0.300753  0.873368  0.779123
17  0.070768  0.593569  0.083777  0.708278  0.956982
18  0.421101  0.358760  0.493601  0.925108  0.281034
19  0.621044  0.280112  0.935503  0.973655  0.252701
20  0.421169  0.046778  0.792984  0.859909  0.030414
21  0.093906  0.645903  0.766901  0.051356  0.034146

In [119]:
newdff.head()

          A         B         C         D         E         F
0  0.672862  0.189261  0.839692  0.540568  0.803610  0.006873
1  0.027773  0.491453  0.498712  0.929028  0.915656  0.944183
2  0.506949  0.078296  0.057759  0.215327  0.366344  0.148058
3  0.485670  0.219897  0.355962  0.829986  0.210201  0.831425
4  0.443833  0.234162  0.326533  0.513190  0.488114  0.984724

In [120]:
newdff.drop(['F'],axis=1, inplace=True)  # inplace is used to make changes in original records.

In [121]:
newdff.head()

          A         B         C         D         E
0  0.672862  0.189261  0.839692  0.540568  0.803610
1  0.027773  0.491453  0.498712  0.929028  0.915656
2  0.506949  0.078296  0.057759  0.215327  0.366344
3  0.485670  0.219897  0.355962  0.829986  0.210201
4  0.443833  0.234162  0.326533  0.513190  0.488114

In [122]:
newdff.drop([1,3],axis=0, inplace=True)

In [124]:
newdff.head()

          A         B         C         D         E
0  0.672862  0.189261  0.839692  0.540568  0.803610
2  0.506949  0.078296  0.057759  0.215327  0.366344
4  0.443833  0.234162  0.326533  0.513190  0.488114
5  0.112171  0.117110  0.800012  0.582800  0.949572
6  0.634240  0.545498  0.235610  0.981676  0.232499

In [125]:
newdff.reset_index()   # Reset_index() is used to reset the indexes values.

    index         A         B         C         D         E
0       0  0.672862  0.189261  0.839692  0.540568  0.803610
1       2  0.506949  0.078296  0.057759  0.215327  0.366344
2       4  0.443833  0.234162  0.326533  0.513190  0.488114
3       5  0.112171  0.117110  0.800012  0.582800  0.949572
4       6  0.634240  0.545498  0.235610  0.981676  0.232499
5       7  0.230085  0.634387  0.813733  0.651947  0.518854
6       8  0.784381  0.711477  0.247991  0.658652  0.949668
7       9  0.981183  0.472648  0.935757  0.558986  0.292702
8      10  0.353074  0.199893  0.187418  0.139332  0.976269
9      11  0.163926  0.296400  0.339017  0.078525  0.445303
10     12  0.218207  0.099738  0.183574  0.777587  0.980067
11     13  0.056113  0.496568  0.037264  0.137552  0.389306
12     14  0.152034  0.092175  0.938286  0.454821  0.771816
13     15  0.092391  0.453857  0.516889  0.124156  0.939947
14     16  0.754206  0.528346  0.300753  0.873368  0.779123
15     17  0.070768  0.593569  0.083777  0.708278  0.956982
16     18  0.421101  0.358760  0.493601  0.925108  0.281034
17     19  0.621044  0.280112  0.935503  0.973655  0.252701
18     20  0.421169  0.046778  0.792984  0.859909  0.030414
19     21  0.093906  0.645903  0.766901  0.051356  0.034146

In [126]:
newdff.reset_index(drop=True,inplace=True)

In [127]:
newdff.head()

          A         B         C         D         E
0  0.672862  0.189261  0.839692  0.540568  0.803610
1  0.506949  0.078296  0.057759  0.215327  0.366344
2  0.443833  0.234162  0.326533  0.513190  0.488114
3  0.112171  0.117110  0.800012  0.582800  0.949572
4  0.634240  0.545498  0.235610  0.981676  0.232499

In [129]:
newdff.shape          # shape is used to display the sape of record in a matrix form.

(20, 5)

In [130]:
newdff.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 5 columns):
A    20 non-null float64
B    20 non-null float64
C    20 non-null float64
D    20 non-null float64
E    20 non-null float64
dtypes: float64(5)
memory usage: 880.0 bytes

In [140]:
nextdf = pd.DataFrame(np.random.rand(3,2), index=np.arange(3))

In [141]:
nextdf

          0         1
0  0.157174  0.570517
1  0.751630  0.604815
2  0.747943  0.933295

In [143]:
nextdf.describe()

              0         1
count  3.000000  3.000000
mean   0.552249  0.702876
std    0.342150  0.200284
min    0.157174  0.570517
25%    0.452558  0.587666
50%    0.747943  0.604815
75%    0.749786  0.769055
max    0.751630  0.933295

In [144]:
nextdf.max()         # disply the maximum number in dataframe.

0    0.751630
1    0.933295
dtype: float64

In [145]:
nextdf.min()       # disply the minimum number in dataframe.

0    0.157174
1    0.570517
dtype: float64

In [147]:
nextdf

          0         1
0  0.157174  0.570517
1  0.751630  0.604815
2  0.747943  0.933295

In [148]:
nextdf.corr()

          0         1
0  1.000000  0.567891
1  0.567891  1.000000

In [149]:
nextdf.count()

0    3
1    3
dtype: int64

In [150]:
nextdf.median()

0    0.747943
1    0.604815
dtype: float64

In [152]:
nextdf.std()

0    0.342150
1    0.200284
dtype: float64

In [153]:
nextdf.mean()

0    0.552249
1    0.702876
dtype: float64